body.background {
	/* margin: 20px; */
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Lora', serif;
	height: 100%;

}

img {
    max-height: 350px;
    max-width: 350px;
}

div {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

button {
	outline: none;
	border: none;
    background-color: #4abdac; /* Fresh */
	cursor: pointer;
	font-size: 20px;
}

#submit-comment {
	background-color: #a7e245; /* Fresh */
}

#submit-comment:hover {
	background: #7fae33;
}

.trash {
	background-color:#DFDCE3;
	display: block;
  	/* /* height: 30px;
  	width: 30px; */
  	border-radius: 45%;
	text-align: right; 
	display: inline-block;
	
}

.trash:hover {
	background-color:#919195;
}

#trash-post {
	float: right;
}

h1 {
	font-weight: 650;
	font-family: 'Lora', serif;
	text-align: center;
	color: #FC4A1A;
}

h2 {
	font-weight: 450;
	/* text-align: center; */
}

a {
	color: #FC4A1A;
}


/* h2 span { */
	/* background: #f7B733; */
/* } */

/* tabs in navbar */
/* .me-auto span {
	background: #a7e245;
} */

.post-container {
	display: flex;
    justify-content: center;
}

.profile-container{
	display: flex;
    justify-content: center;
}

.single-post {
	padding: 30px;
}

.card-header {
	border-bottom: none;
}

.card-footer {
	border-top: none;
}

#all-comments {
	border: none;
}

.navbar {
	/* background-image: url("/static/images/Background.jpg"); */
	/* background-size: 250px; */
	text-align: center;
	position: relative; 
}

.navbar-brand {
	margin-right: auto;
	padding-top: 0%;
	padding-bottom: 0%;
}

.navbar-tabs span {
	/* text-align: center; */
	font-size: 30px;
	margin: 30px;
	/* margin-bottom: "0" */
}

.navbar-nav {
 --bs-nav-link-hover-color: #4abdac;
}

.nav-link {
	margin-top: 50px;
}

#logout {
	float: right;
}

#home-logo {
	max-height: 200px;
}

#home-logo:hover {
	max-height: 250px;
}

.reactions {
	background-color: #f1daa9;
	display: inline-block;
}

.reaction-count{
	font-size: 25px;
}

#question {
	font-size: 40px;
	/* text-align: center; */
	background-color: #cddbef
}

#answer {
    background-color: #f7B733; /* fresh water */
    font-family: 'Arima', cursive;
	font-size: 25px;
	border-radius: 9px;

}

#answer:hover {
	background-color: #e4a72d; 
}

.question span {
	background: #f7B733;
}

#post-button {
	color: #060704;
	background: #a7e245;
	font-size: 37px;
}

#post-button:hover {
	background: #7fae33;
}

.caption-and-date span{
	background-color: #fff7d8;
	color: black;
	font-size: 30px;
}

#username {
	color: black;
	font-size: 30px;
}

#post-date span {
	background-color: #fff7d8;
	color: BLACK;
	width: 50%;
	font-size: 25px;
}

#caption {
    font-family: 'Source Sans Pro', sans-serif;
}

.right-column {
	text-align: left;
	background-color: #4abdac;
}

.my-friends {
	cursor: pointer;
	color: #4abdac;
}

#my-friends {
	height: 100vh;
}

.friend-name {
	font-size: 30px;
	color: black;
}

.friend-name:hover {
	color: #4abdac;
}

.request-prompt {
	font-size: 30px;
}

.pending-friend {
	font-size: 25px;
}

.friend-request-name {
	font-size: 25px;
}

.col-5 {
	width: 60%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.homepage {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	/* background: #E9E9E9; */
	background-image: url("/static/images/LogosLandscape.jpg");
	background-size: 1600px;
}

.footer {
	background-color: #cddbef;
	position: sticky;
	left:0;
	margin-bottom:0;
	right:0;
	
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #FC4A1A;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #4ABDAC;;
	transform: translateX(90px);
	font-size: 30px
}

.form-wrapper.is-active .switcher-signup {
	color: #F78733;
	transform: translateX(-90px);
	font-size: 30px
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .4s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .4s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
    background: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #a7e245;
	transform: translateX(-30%);
}

.btn-login:hover {
	color: #a7e245;
	background: #fbfdff;
}

.btn-signup {
	color: #a7e245;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #a7e245;
	transform: translateX(30%);
}

.btn-signup:hover {
	color: #fbfdff;
	background: #a7e245;
}