{% extends 'base.html' %}
{% block title %}Time for Q&Hey!{% endblock %}

{% block body %}
  <body class="homepage"></body>
  
  <section class="forms-section">
    <h1 class="section-title">Welcome to Q & Hey!</h1>
    <div class="forms">
      <div class="form-wrapper is-active">
        <button type="button" class="switcher switcher-login">
          Login
          <span class="underline"></span>
        </button>
        <form class="form form-login" action="/login" method="POST">
          <fieldset>
            <legend>Please, enter your email and password for login.</legend>
            <div class="input-block">
              <label for="login-email">Username</label>
              <input id="login-user-username" type="text" name="user_username" required>
            </div>
            <div class="input-block">
              <label for="login-password">Password</label>
              <input id="login-password" type="password" name="user_password" required>
            </div>
          </fieldset>
          <button type="submit" class="btn-login">Login</button>
        </form>
      </div>
     
      <div class="form-wrapper">
        <button type="button" class="switcher switcher-signup">
          Sign Up
          <span class="underline"></span>
        </button>
        <form class="form form-signup" action="/register" method="POST">
          <fieldset>
            <legend>Please, enter your name, email, and password to sign up.</legend>
            <div class="input-block">
              <label for="signup-fname">First Name</label>
              <input id="signup-fname" name="user_fname" type="fname" required>
            </div>
            <div class="input-block">
              <label for="signup-lname">Last Name</label>
              <input id="signup-lname" name="user_lname" type="lname" required>
            </div>
            <div class="input-block">
              <label for="signup-username">Username</label>
              <input id="signup-username" name="user_username" type="username" required>
            </div>
            <div class="input-block">
              <label for="signup-email">E-mail</label>
              <input id="signup-email" name="user_email" type="email" required>
            </div>
            <div class="input-block">
              <label for="signup-password">Password</label>
              <input id="signup-password" name="user_password" type="password" required>
            </div>
          </fieldset>
          <button type="submit" class="btn-signup">Create</button>
        </form>
      </div>
    </div>
  </section>

  <script src="/static/functions.js"></script>
{% endblock %}