{% extends 'base.html' %}
{% block title %}Welcome to Q&Hey!{% endblock %}

{% block body %}
<div id="navBar"></div>
<body className="background"></body>

<h2 className="question"><span>Q for this week: </span></h2>
<h1 className="question" id="question">{{ questions[week_num - 1].question }}</h1>

<h2><span>A's for this week: </span></h2>
<div id="reactLandingPosts"></div>



<!-- JavaScript Bundle with Popper -->
<script type='text/babel' src="/static/components/navBar.jsx"></script>

<script type='text/babel' src="/static/components/NewPost.jsx"></script>
<script type='text/babel' src="/static/components/Reaction.jsx"></script>
<script type='text/babel' src="/static/components/Comment.jsx"></script>
<script type='text/babel' src="/static/components/SinglePost.jsx"></script>
<script type='text/babel' src="/static/components/ShowPosts.jsx"></script>
<script type='text/babel' src="/static/components/LandingPosts.jsx"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}