{% extends 'base.html' %}
{% block title %}My Friends{% endblock %}

{% block body %}
<div id="navBar"></div>

<h2>My Friends</h2>
{% for friends in my_friends %}
    <li>{{ friends.fname }} {{ friends.lname }}</li>
{% endfor %}

<div id="my-friends"></div>

<h2>Requested to:</h2>
{% for friend in requested %}   
    <li>{{ friend.fname }} {{ friend.lname}}</li>    
{% endfor %}

<h2>Friend Requests:</h2>
<div id="friend-request"></div> 


<!-- JavaScript Bundle with Popper -->
<script type='text/babel' src="../static/components/navBar.jsx"></script>
<script type='text/babel' src="../static/components/friendRequest.jsx"></script>
<script type='text/babel' src="../static/components/Reaction.jsx"></script>

<script type='text/babel' src="../static/components/Comment.jsx"></script>
<script type='text/babel' src="../static/components/SinglePost.jsx"></script>
<script type='text/babel' src="../static/components/ShowPosts.jsx"></script>
<script type='text/babel' src="../static/components/MyFriends.jsx"></script>
<script type='text/babel' src="../static/components/FriendProfile.jsx"></script>

<script type='text/babel' src="../static/components/Friend.jsx"></script>

<!-- <script type='text/babel' src="../static/components/MyProfile.jsx"></script> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}