{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}

{% block body %}
<div id="navBar"></div>

<div id="my-profile-container"></div>


<!-- JavaScript Bundle with Popper -->
<script type='text/babel' src="../static/components/navBar.jsx"></script>
<script type='text/babel' src="../static/components/myProfile.jsx"></script>
<script type='text/babel' src="../static/components/SinglePost.jsx"></script>
<script type='text/babel' src="../static/containers/MyProfileContainer.jsx"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}